.form-control-primary {
    margin: 1px;
    border-radius: 2px;
    border: 1px;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

.row{
    width: 100vw;
    height: 100vh;
    margin-left: 0;
}

.out{
    padding:40px 0 0 0;
}

.sidebar{
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 2px solid #7579ff ;
}
.sidebar-left{
    position: sticky;
    top: 0;
    height: calc( 100vh -70px);
}

.chat{
    padding-top: 2em;
    background-color:rgba(75, 2, 101, 0.402);
}

.text {
    color: gray
}

.text:hover{ color:black}


.btn-pvr{
    margin-right: 15px;
    height: 50%;

    text-align: center;
    

}