<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="workspace.component.css">
    <title>{{name}}</title>
  </head>
  <body>
      <!-- nav 1 -->
<nav class=" navbar navbar-light bg-light fixed-top" style="padding-top: 0; padding-bottom: 0;">
    <div class="form-control-primary container-fluid ">
      <span class="navbar-brand" style="color: white;">{{name}}</span>
    
    <button type="button float: right;"  class="btn btn-outline-light" (click)="logout()">LogOut</button> 
  </div>
  </nav> 
    <div class="row">
        <div class="col-md-2">
        </div>
        <!--sidebar-->
        <div class="col-md-2 bg-light d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <h2 class="nav-link text" aria-current="">Threads</h2>
                    </li>
                </ul>   
                <div class="" style="padding-top: 2em; padding-left: 1em;">
                    <div class="">
                  <div class="d-flex">
                    <h2 class="">Channels</h2>
                    <button type="button" class="btn btn-outline-secondary btn-pvr " mat-button (click)='openAddChannelDialog()'>+</button>
                  </div>

                      <div class="" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="">
                          <ul class="nav flex-column">
                            <li class="nav-item" *ngFor="let channel of channels">
                              <a class="nav-link text" aria-current="" routerLink='/workspace/channel/{{channel.id}}'>{{channel.name}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                </div>
                    <div class="" style="padding-top: 2em;">
                      <h2 class="">
                        Direct Message
                      </h2>
                      <div>
                        <ul class="nav flex-column">
                          <li class="nav-item"  *ngFor="let user of users">
                            <a class="nav-link text"  routerLink='/workspace/dm/{{user.email}}'>{{user.username}}</a>
                          </li>  
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!--main-->
        <div class="out">
            <router-outlet></router-outlet>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>