<!DOCTYPE html>
<html>
<head>
	<title>Welcome in slack </title><!--nome utente-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="d-flex flex-column">
  <h1 class="" style="text-align: center;color: white;margin-bottom: 1em;">OloreSlack</h1>
  <div class="container cont">
    <div class="row">
      <div class="col-sm">
        <div class="img"></div>
      </div>
      <div class="col-sm">
        <h1 style="text-align: center;">Welcome,</h1>
        <h1 style="text-align: center;">Username</h1>
        <div class="col-auto my-1">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Select Workspace:</label>
          <select class="custom-select mr-sm-3 center" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div>
          <button type="submit" class="col-3  btn   btn-primary buttsub">JOIN</button>
        </div>

        <form>
          <div class="form-group">
            <label for="">Create Channel:</label>
            <div class="col-5 center ">
            <input type="text" class="form-control " id="" placeholder="name channel..">
            </div>
          </div>
          <button type="submit" class="col-3 btn  btn-primary buttsub" >CREATE</button>
        </form>

        <form>
          <div class="form-group">
            <label for="">Join Channel:</label>
            <div class="col-5 center ">
              <input type="text" class="form-control" id="" placeholder="name channel..">
              </div>
          </div>
          <button type="submit" class="col-3 btn btn-primary buttsub" style="margin-bottom: 1em;"  href=""> JOIN</button>
        </form>
        
       
      </div>
    </div>
    </div>
  </div>
</body>
</html>